@import "node_modules/bootstrap/scss/bootstrap";

// RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.title {
    text-align: center;
}